// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

$color-primary: #000000;
$color-secondary: #4f4141;
$color-white: #ffffff;
$font-quicksand: "Quicksand", sans-serif;
$font-jost: "Jost", sans-serif;
$font-monserrat: "Montserrat", sans-serif;
$font-poppins: "Poppins", sans-serif;
// Breakpoint
$small: 300px;
$medium: 900px;

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

// Home page
.homepage {
  // Desc
  .desc {
    margin: 122px 280px;

    hr {
      width: 10%;
      margin: auto;
      background: #000000;
      border: 1px solid #4f4141;
    }
    .name {
      font-size: 20px;
      font-weight: 600;
      font-size: $font-quicksand;
    }
    .title {
      font-size: 30px;
      font-weight: 400;
      margin: 28px 0px;
    }

    .description {
      font-family: $font-monserrat;
      font-size: 17px;
      font-weight: 400;
      margin-top: 28px;
    }
  }
  // Project
  .project {
    .title {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 81px;
    }
    .my-project {
      margin-top: 50px;
      img {
        filter: brightness(50%);
        position: relative;
      }
      .description {
        .card-title {
          font-size: 35px;
          font-weight: 500;
        }
        button {
          font-size: 10px;
          font-weight: 400;
        }
      }
    }
  }
  // Our CLient
  .our-client {
    margin: 152px 0px;
    .title {
      font-size: 30px;
      font-weight: 500;
    }
    .image-client {
      margin: 70px 80px;
    }
  }
  // Medium Screen
  @media screen and (max-width: $medium) {
    // Description
    .desc {
      margin: 50px 30px;
      hr {
        width: 40%;
      }
      .name {
        font-size: 10px;
      }
      .title {
        font-size: 20px;
      }
      .description {
        font-size: 10px;
      }
    }
    // Project
    .project {
      margin: 0px 30px;
      .title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 0px;
      }
      .my-project {
        .description {
          .card-title {
            font-size: 30px;
            font-weight: 600;
          }
        }
      }
    }
    //Our Clients
    .our-client {
      margin: 10px 0px;
      .title {
        font-size: 30px;
        font-weight: 500;
      }
      .image-client {
        margin: 27px 30px;
      }
    }
    // Footer
    footer {
      .title {
        font-size: 10px;
      }
      .head-title {
        font-size: 15px;
      }
      .content {
        font-size: 10px;
        font-weight: 400;
      }
      .footer {
        font-size: 10px;
        font-weight: 400;
        margin-top: 70px;
      }
    }
  }
}
// About Page
.about {
  // Hero
  .hero {
    img {
      filter: brightness(50%);
      position: relative;
    }
    .card-title {
      font-family: $font-jost;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
    }
    .card-text {
      font-size: 30px;
      font-weight: 400;
    }
  }
  // Content-1
  .content {
    margin: 68px 0;
    .content {
      padding: 100px;
      .title {
        font-size: 30px;
        font-weight: 600;
      }
      .desc {
        font-size: 17px;
        font-weight: 400;
      }
    }
  }
  // Team
  .team {
    margin: 68px 0;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
    .card {
      margin-top: 80px;
      .card-title {
        font-size: 30px;
        font-weight: 600;
      }
      .card-text {
        font-size: 17px;
        font-weight: 400;
      }
    }
  }

  @media screen and (max-width: $medium) {
    // Hero
    .hero {
      .card-title {
        font-size: 10px;
        line-height: 17px;
      }
      .card-text {
        font-size: 15px;
        font-weight: 400;
      }
    }
    // Content
    .content {
      padding: 0 20px;
      .content {
        padding: 0px 50px;
      }
    }
    // Team
    .team {
      .card {
        .card-title {
          font-size: 15px;
        }
        .card-text {
          font-size: 10px;
        }
      }
    }
    // Footer
    footer {
      .title {
        font-size: 10px;
      }
      .head-title {
        font-size: 15px;
      }
      .content-footer {
        font-size: 10px;
        font-weight: 400;
      }
      .footer {
        font-size: 10px;
        font-weight: 400;
        margin-top: 70px;
      }
    }
  }
}
// Project
.project {
  .hero {
    img {
      filter: brightness(50%);
      position: relative;
    }
    .card-title {
      font-family: $font-jost;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
    }
    .card-text {
      font-size: 30px;
      font-weight: 400;
    }
  }
  .content {
    margin: 68px 0;
    font-family: $font-poppins;
    .card {
      .card-body {
        margin: 0px 50px;
        .card-title {
          font-size: 40px;
          font-weight: 700;
        }
        .card-text {
          font-size: 18px;
          font-weight: 400;
        }
        .card-list {
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
  @media screen and (max-width: $medium) {
    .hero {
      .card-title {
        font-size: 10px;
      }
      .card-text {
        font-size: 15px;
      }
    }
    .content {
      margin: 68px 65px;
      .card {
        .card-body {
          margin: 0px 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          .card-title {
            font-size: 20px;
            font-weight: 700;
          }
          .card-text {
            font-size: 10px;
            font-weight: 400;
            text-align: center;
          }
          .card-list {
            font-size: 10px;
            font-weight: 400;
            display: table;
            margin: 0 auto;
            text-align: left;
          }
        }
      }
    }
  }
}
// Services
.services {
  .hero {
    img {
      filter: brightness(50%);
      position: relative;
    }
    .card-title {
      font-family: $font-jost;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
    }
    .card-text {
      font-size: 30px;
      font-weight: 400;
    }
  }
  .service {
    margin: 76px 200px;
    .title {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
    }
    .card {
      background-color: $color-primary;
      color: $color-white;
      margin-top: 50px;
      img {
        height: 50px;
        width: 50px;
        margin-left: 10px;
      }
      .card-title {
        font-size: 14px;
        font-weight: 700;
      }
      .card-text {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .content {
    margin: 100px 0;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
    .body {
      font-size: 17px;
      font-weight: 400;
    }
  }

  @media screen and (max-width: $medium) {
    .hero {
      .card-title {
        font-size: 10px;
      }
      .card-text {
        font-size: 15px;
      }
    }
    .service {
      margin: 76px 50px;
      .title {
        font-size: 20px;
      }
      .card {
        .card-title {
          font-size: 20px;
        }
        .card-text {
          font-size: 15px;
        }
      }
    }
    .content {
      margin: 100px 50px;
      text-align: center;
      .title {
        margin-top: 28px;
        font-size: 15px;
      }
      .body {
        font-size: 10px;
      }
    }
  }
}
// Contact
.contact {
  .hero {
    img {
      filter: brightness(50%);
      position: relative;
    }
    .card-title {
      font-family: $font-jost;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 17px;
    }
    .card-text {
      font-size: 30px;
      font-weight: 400;
    }
  }
  .content {
    margin: 45px 0;
    .body-content {
      .title {
        font-size: 30px;
        font-weight: 600;
      }
      .body {
        font-size: 17px;
        font-weight: 400;
      }
      .whatsapp {
        width: 180px;
        border-radius: 5px;
        cursor: pointer;
        .whatsapp-text {
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
  }
  .location {
    margin: 50px 0;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
  }
  .contact-us {
    margin: 100px 0;
    .title {
      font-size: 30px;
      font-weight: 600;
    }
  }
  // Medium Screen
  @media screen and (max-width: $medium) {
    .all-content {
      padding: 50px 40px;
    }
    .hero {
      .card-title {
        font-size: 10px;
      }
      .card-text {
        font-size: 15px;
      }
    }
    .content {
      text-align: center;
      .body-content {
        .title {
          font-size: 20px;
        }
        .body {
          font-size: 15px;
        }
        .whatsapp {
          margin: auto;
        }
      }
    }
  }
}

// .swiper {
//   width: 600px;
//   height: 300px;
// }
.swiper-button-prev {
  margin-top: 13rem;
  color: black;
}
.swiper-button-next {
  margin-top: 13rem;
  color: black;
}

// Global Css
// Navbar
.navbar {
  .navbar-brand {
    font-size: 15px;
    font-family: $font-quicksand;
    font-weight: 600;
  }
  .navbar-nav {
    .nav-link {
      font-size: 11px;
      font-weight: 400;
    }
  }
  @media screen and (max-width: $medium) {
    .navbar-nav {
      position: absolute;
      z-index: 1;
      background: $color-primary;
      width: 35vh;
      min-height: 92vh;
      display: flex;
      flex-direction: column;
      right: 0;
      img {
        cursor: pointer;
        margin: 15px;
        height: 15px;
        width: 15px;
      }
      .nav-link {
        padding: 20px;
        color: $color-white;
        font-size: 13px;
      }
      footer {
        padding: 20px;
        margin-top: auto;
        margin-left: auto;
        font-size: 6px;
        font-weight: 700;
      }
    }
  }
}

// Footer
footer {
  background: $color-primary;
  .title {
    font-size: 30px;
    font-family: $font-quicksand;
    font-weight: 600;
  }
  .head-title {
    font-size: 16px;
    font-weight: 600;
  }
  .content {
    font-size: 13px;
    font-weight: 400;
  }
  .footer {
    font-size: 13px;
    font-weight: 600;
    margin-top: 70px;
  }
  @media screen and (max-width: $medium) {
    .title {
      font-size: 10px;
    }
    .head-title {
      font-size: 15px;
    }
    .contact-title {
      font-size: 15px;
    }
    .content-footer {
      font-size: 10px;
    }

    .footer {
      font-size: 10px;
    }
  }
}
